/********************************************************/
/* Structure of the index page (e.g. its main grid)     */
/*  should go in here.                                  */
/********************************************************/

.blog-entries-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 8em;
	border-top: 4px solid #333;
	border-bottom: 4px solid #333;
	padding: 0.2em 0 0.2em 0;
	background: transparent;
}

.blog-card {
	display: grid;
  grid-template-columns: 17.2em 4em auto;
  grid-template-rows: 14.6em 1em auto 4em;
  grid-template-areas:
  'thum titl titl'
  'mine mine mine'
  'cont cont cont'
  'spac date date';
  background: #33f;
  margin: 4px 10px 4px 10px;
  border-radius: 2em;
  width: 80%;
  height: auto;
}

.blog-card-hover {
	 background: #ff0;
}

.blog-card-image {
	grid-area: thum;
	position: relative;
	/*background: #f0f;*/
	background: transparent;
	margin: 0; border: 0 solid #0f0; padding: 0;
	border-radius: 2em;
	height: 100%;
}

.blog-card-title {
	grid-area: titl;
	background: transparent;
	padding: 4px 8px 4px 8px;
  border-radius: 2px;
}

.blog-card-content {
	grid-area: cont;
	height: 100%;
	width: 100%;
	background: #363;
	padding: 0;
}

.blog-card-date {
	grid-area: date;
	background: #f0f;
	padding: 4px 24px 4px 8px;
  border-radius: 2px;
	text-align: right;
}
