/********************************************************/
/* Structure of the index page (e.g. its main grid)     */
/*  should go in here.                                  */
/********************************************************/

.blog-entries-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 8em;
	border-top: 4px solid #333;
	border-bottom: 4px solid #333;
	padding: 2em 0 12em 0;
	background: transparent;
}

