/********************************************************/
/* Styling for images on the index page should go in    */
/*  here ... though that may change                     */
/*                                                      */
/*  ... if I think of a better way                      */
/********************************************************/


img.avatar {
	*width: auto;
	height: 12em;
	border-radius: 2px;
		/* Style the text for 'alts' */
	line-height: 20px;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}