
/***********************************************************/
/* css tweaks for mobile devices ... a bit rough and ready */
/*  ... but they do improve things. ON INDEX PAGE          */
/***********************************************************/


/**************************************************************
/*** Most phones and tablets      ****************************/
/*** Width is for Galaxy Fold only !! ************************/

@media screen
	and (-webkit-min-device-pixel-ratio: 2)
{
		/* debug colours !!
	.banner {background: cyan;} */

	body {
		font-size: 10px;
	}

	aside {
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
	}

	h1 {font-size: 1.6em}
	h2 {font-size: 1.4em}
	h4 {font-size: 1.4em}
	h6 {font-size: 0.9em}
	p, li, blockquote {font-size: 1.4em}

	blockquote {
		font-weight: normal;
		padding: 0.6em 1.6em 0.6em 3em;;
	}

	a.button {
		font-size: 0.8em;
	}

	.container {
		display: grid;
		grid-template-columns: 0 90px 1fr 0;
  	grid-template-rows: 76px auto auto auto auto 1fr;
	  grid-template-areas:
	  'left imag bann rght'
	  'left nav nav rght'
	  'left cont cont rght'
		'left side side rght'
		'left foot foot rght'
		'left fill fill rght';
	}

	.title-container {
		display: none;
	}

	.sidebar-flex-container {
		flex-flow: row wrap;
	}

	h2.blog-card-headings {
		font-size: 1.1em;
		margin: 0; border: 0; padding: 0 0 0.2em 0;
	}

	.blog-card-date {
		padding: 6px 12px 4px 4px;
	}

	.blog-card-title {
		padding: 6px 4px 4px 12px;
	}

	.footer{
		border-right: 5px solid #666;
		border-left: 5px solid #666;
	}

	.devinfo{
		border-right: 10px solid #666;
		border-left: 10px solid #666;
	}

	.hidden-button {
		display: none;
	}

	.hide-when-wide {
		display: none;
	}

}

/**************************************************************
/*** Anything bigger than 300px wide *************************/

@media screen
	and (-webkit-min-device-pixel-ratio: 2)
	and (min-width: 299px)
{
		/* debug colours !!
	.banner {background: magenta;} */

	body {
		font-size: 12px;
	}

	h1 {font-size: 1.6em}
	h2 {font-size: 1.4em}
	h4 {font-size: 1.4em}
	h6 {font-size: 1.0em}
	p, li {font-size: 1.4em}
	blockquote {font-size: 1.3em}
	a.sidebar-link {font-size: 1.2em}

	h2.blog-card-headings {
		font-size: 1.4em;
		margin: 0; border: 0; padding: 0 0 0.2em 0;
	}

	.blog-card-date {
		padding: 8px 12px 4px 12px;
	}

	.blog-card-title {
		padding: 8px 4px 4px 12px;
	}

	.footer{
		border-right: 20px solid #666;
		border-left: 20px solid #666;
	}

	.devinfo{
		border-right: 40px solid #666;
		border-left: 40px solid #666;
	}

}

/**************************************************************
/*** Anything bigger than 720px wide *************************/
/*** iPad, iPhone X portrait *********************************/

@media screen
	and (-webkit-min-device-pixel-ratio: 2)
	and (min-width: 720px)
	and (orientation: portrait)
{
		/* debug colours !!
	.banner {background: red;} */

	body {
		font-size: 12px;
	}

	aside {
		border-right: 30px solid transparent;
		border-left: 30px solid transparent;
	}

	h1 {font-size: 2em}
	h2 {font-size: 1.6em}
	h4 {font-size: 1.4em}
	h6 {font-size: 1.0em}
	p, li {font-size: 1.4em}
	blockquote {font-size: 1.3em}
	a.sidebar-link:link {font-size: 1.2em}

	h2.blog-card-headings {
		font-size: 1.6em;
		margin: 0; border: 0; padding: 0 0 0.2em 0;
	}

	.blog-card-date {
		padding: 8px 12px 4px 12px;
	}

	.blog-card-title {
		padding: 8px 4px 4px 12px;
	}


	.container {
		grid-template-columns: 0 140px 1fr 0;
  	grid-template-rows: 120px auto auto auto auto 1fr;
  }

	.footer{
		border-right: 40px solid #666;
		border-left: 40px solid #666;
	}

	.devinfo{
		border-right: 60px solid #666;
		border-left: 60px solid #666;
	}

	.hidden-button {
		display: block;
	}

	.hide-when-wide {
		display: inline;
	}

}

/**************************************************************
/*** Anything bigger than 1000px wide ************************/
/*** iPad Pro ************************************************/

@media screen
	and (-webkit-min-device-pixel-ratio: 2)
	and (min-width: 1000px)
{
		/* debug colours !!
	.banner {background: blue;} */

	body{
		font-size: 14px;
	}

	aside {
		border-right: 50px solid transparent;
		border-left: 50px solid transparent;
	}

	h1 {font-size: 2em}
	h2 {font-size: 1.6em}
	h4 {font-size: 1.4em}
	h6 {font-size: 1.0em}
	p, li {font-size: 1.4em}
	blockquote {font-size: 1.3em}
	a.sidebar-link:link {font-size: 1.15em}

	h2.blog-card-headings {
		font-size: 1.8em;
		margin: 0; border: 0; padding: 0 0 0.2em 0;
	}

	.blog-card-date {
		padding: 12px 16px 4px 24px;
	}

	.blog-card-title {
		padding: 12px 24px 4px 16px;
	}

	.container {
		grid-template-columns: 0 172px 1fr 0;
  	grid-template-rows: 146px auto auto auto auto 1fr;
  }

	.footer{
		border-right: 80px solid #666;
		border-left: 80px solid #666;
	}

	.devinfo{
		border-right: 120px solid #666;
		border-left: 120px solid #666;
	}

}
