/***************************************************/
/* Common (theme) styles for all page layouts      */
/* All the strong themes should be in here         */
/***************************************************/

html {
  scroll-behavior: smooth;
}

body {
	 	/* make sure that there are no spurious margins and borders hanging around */
	margin: 0; border: 0; padding: 0;
}

article {
	font-style: normal;
}

aside {
	font-style: italic;
	margin:10px 0 10px 0;
	border-top: 1px solid #ccc;
	border-right: 50px solid transparent;
	border-bottom: 1px solid #ccc;
	border-left: 50px solid transparent;
	padding: 10px 0 10px 0;
}

figure {
	position: relative;
}

figcaption {
	color: #fff;
	position: absolute;
	bottom: 2px;
	left: 0;
	right:0;
	text-align: center;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: bold;
	font-size: 0.8em;
}

li.list-item-link-container {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0.5em 0 0.5em 0; /* Remove margins */
}

.box {
	background: #ccc;
	color: #ff0;
	margin: 0; border: 0; padding: 0;
}

.container {
	height: 100vh;
	display: grid;
  grid-template-columns: 0 172px 1fr 0;
  grid-template-rows: 146px auto auto auto auto 1fr;
  grid-template-areas:
  'left imag bann rght'
  'left nav nav rght'
  'left cont cont rght'
	'left side side rght'
	'left foot foot rght'
	'left fill fill rght';
	background: #363;
	scroll-behavior: smooth;
}

.left-fill {
	grid-area: left;
	background: #666;
}

.right-fill {
	grid-area: rght;
	background: #666;
}

.content {
	grid-area: cont;
	background: #447;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 2em 0 2em 0;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}

.content-text-container {
	max-width: 800px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	text-align: left;
}

.bio-container {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	font-style: italic;
	margin:10px 0 10px 0;
	border-top: 1px solid #ccc;
	border-right: 50px solid transparent;
	border-bottom: 1px solid #ccc;
	border-left: 50px solid transparent;
	padding: 20px 0 10px 0;
}

.sidebar, .blog-index-cards {
	grid-area: side;
	background: #333;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}

.title-container {
	padding: 1.1em 0 0 1em;
}

.sidebar-flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	border-top: 4px solid #333;
	border-bottom: 4px solid #333;
	padding: 0.2em 0 0.2em 0;
	background: transparent;
}

.sidebar-button-container {
	display: inline-block;
  height: 20px; width: 120px;
  background: #993;
  margin: 10px 120px 10px 10px;
  border-radius: 4px;
  border 1px solid #ccc;
  padding 4px;
}

.button {
	width: 4em;
}

.push {
	margin-left: auto;
}

.footer-container {
	grid-area: foot;
	display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: auto minmax(4px, auto);
  grid-template-areas:
 'ft-l ft-c ft-r'
 'ft-l devinf ft-r';
  background: #666;
}

.footer-left {
	grid-area: ft-l;
	background: #666;
	border-left: 1px solid #000;
}

.footer {
	grid-area: ft-c;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: #666;
	border-right: 80px solid #666;
	border-bottom: 1px solid #ccc;
	border-left: 80px solid #666;
}

.footer-text-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	text-align: center;
	padding: 0.2em 0 0.2em 0;
}

.footer-icon-container {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
	color: red;
}

.footer-social-icon {
	width: 32px;
	height: auto;
	border-radius: 2px;
		/* Style the text for 'alts' */
	line-height: 14px;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 8px;
	font-weight: normal;
	color: #f0f;
	margin: 8px 8px 8px 6px;
}

.devinfo{
	grid-area: devinf;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
	background: #666;
	border-right: 120px solid #666;
	border-bottom: 1px solid #ccc;
	border-left: 120px solid #666;
}

.footer-right {
	grid-area: ft-r;
	background: #666;
	border-right: 1px solid #000;
}

.filler {
	grid-area: fill;
	background: #666;
	border-right: 1px solid #000;
	border-bottom: 100px solid transparent;
	border-left: 1px solid #000;
}

.home-button {
	height: 1.4em;
	width: 2em;
	background: #663;
	z-index: 2;
	position: fixed; bottom: 1em; right: 1em;
	display: none;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border: 2.5px solid #ccc;
	border-radius: 40%;
	font-family: Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 1.4em;
	font-weight: bolder;
	color: #ccc;
	margin: 1em;
	padding: 0.15em 0 0 0;
}

/***********************************************
/* Tooltip for home-button                    */
.home-button .tooltiptext {
	font-family: Avant Garde, Tahoma, Arial, Sans-Serif;
	font-size: 0.8em;
	font-weight: normal;
  visibility: hidden;
  width: 120px;
  background-color: #663;
  color: #ccc;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.home-button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #663 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.home-button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/**********************************************/

